.navi {
    color: #fff;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: $default-gap 0 $default-gap $default-gap;
    background: none #777;


    &__item {
        float: left;
    }

    &__link {
        color: currentColor;
        text-decoration: none;
        display: inline-block;
        padding: .5em;

        &:hover,
        &:active,
        &:visited {
            color: currentColor;
        }
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
